<div class="container">
  <div class="row">
    <div class="p-5 text-center bg-image rounded-3" style="background-image: url('assets/crowd.jpg'); height: 600px;">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h4 class="my-5">Partagez l'énergie qui vous entoure</h4>
            <a class="btn btn-outline-light btn-lg mb-5" href="#!" role="button">Créer un évênement</a>
          </div>
        </div>
      </div>
      </div>
    </div> 
  </div>
  <div class="row">
    <% Event.all.each do |e| %>
      <div class="col">
        <div class="card shadow-lg bg-dark text-light mx-auto my-5" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"> <%= e.title %> </h5>
            <h6 class="card-subtitle mb-2 text-warning"> <%= e.start_date.strftime('%Y %m %d %H:%M') %> </h6>
            <h6 class="card-subtitle mb-2 text-primary"> <%= e.location %> </h6>
            <h6 class="card-subtitle mb-2 text-muted"> <%= e.duration %> minutes </h6>
            <h6 class="card-subtitle mb-2 text-muted"> Organisateur: <%= e.administrator.first_name %> </h6>
            <p class="card-text"> <%= e.description %> </p>
            <h6 class="card-subtitle mb-2 text-success"> <%= e.price %> €  </h6>
            <%= link_to "Voir la fiche", event_path(:id => e.id), class: "btn btn-outline-light my-5 w-100" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>